<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="centered">
            <h1>Welcome to My Shop Homepage!</h1>
            <p> More to come...</p>
        </div>

    </main>
    <%- include('../includes/end.ejs') %>