<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (!user) { %>
        <div class="centered">
            <h1>Welcome to this simple online shop!</h1>
            <p>Use test account below or <a href="/signup">sign up for your own user account.</a> </p>
        </div>
        <div style="margin: 0 auto; width: 400px; background-color: rgb(213, 233, 233); padding: 10px">
            <ul style="margin: 0 auto; width: 250px;">
                <li>Username: <strong>test@test.com</strong></li>
                <li>Password: <strong>tester</strong></li>
            </ul>
        </div>
        <% } else { %>
        <div class="centered">
            <h1>Welcome <%= user %>!</h1>
            <p> Enjoy the looks & feels of this simple online store which is a fundamental for building ecommerce sites. </p>
            <p> For the source codes on my Gihub repo, <a href="https://github.com/paul-kh/online-shop-node-express-mongoose" target="_blank">click here</a>.</p>
            <p> Thank you!</p>
        </div>
        <% } %>   
    </main>
    <%- include('../includes/end.ejs') %>